<div>
    <mat-card>
        <mat-card-header>
            <div class="head">
                <div>
                    <button mat-button (click)="goBack()">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back_ios"></mat-icon>
                      </button>
                </div>
                <div>
                    <h5>Add Employee</h5>
                </div>
            </div>
           
        </mat-card-header>
        <mat-card-content>
            <div class="add-form">
                <form [formGroup]="employeeForm" (ngSubmit)="addemployee($event)">
                    <div class="col-md-12 row">
                        <div class="form-group mb-3 col-md-6">
                            <label for="empCode">Emp Code</label>
                            <input type="text" class="form-control" id="empCode"
                              formControlName="empCode"  placeholder="Enter Code">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name"
                              formControlName="Name"  placeholder="Enter Name">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="Experience">Experience</label>
                            <input type="number" class="form-control" id="Experience"
                            formControlName="Experience" placeholder="Enter Experience">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="SalaryPerMonth">Salary Per Month</label>
                            <input type="text" class="form-control" id="SalaryPerMonth"
                            formControlName="SalaryPerMonth" placeholder="Enter Salary Per Month">
                        </div>
                        <div class="form-group mb-3 col-md-6">
                            <label for="Technology">Technology</label>
                            <input type="text" class="form-control" id="Technology"
                            formControlName="Technology" placeholder="Enter Technology">
                        </div>
                        <div class="col-md-12 form-action">
                            <button mat-raised-button type="reset" (click)="cancel()" >Cancel</button>
                            <button mat-raised-button >Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
       
    </mat-card>
</div>